body {
  font-family: Helvetica;
  background: rgb(256, 256, 240);
  text-align: center;
  font-size: 2em;
}

div {
  padding: 1% 0 1% 0;
}

h1 {
  text-transform: capitalize;
  font-size: 300%;
  font-weight: bold;
}

hr {
  height: 0.05em;
  width: 90%;
  background: rgb(180, 220, 255);
}

.blue {
  color: rgb(0, 0, 0);
  background-color: rgb(180, 220, 255);
}

.jumbotron {
  background-color: rgb(180, 220, 255);
  padding: 0% 0% 0% 0%;
}

.btn-lg {
  max-width: 95%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility:visible;
}

.inline {
  display: inline-block;
}

#correct {
  background: rgb(80, 220, 80);
  margin: auto;
  width:10em;
}

#wrong {
  background: rgb(220, 80, 80);
  margin: auto;
  width:15em;
}
